.projects--container{
    .title{
        font-size: 2rem;
        font-weight: 1000;
        text-align: center;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
        .project{
            width: 30%;
            @include flex-col-s;
            gap: 20px;
            padding: 20px;
            border: 2px solid $text-imp;
            border-radius: 10px;
            &--image{
                width: 90%;
                align-self: center;
            }
            &--title{
                font-size: 1.6rem;
                color: $text-imp;
                align-self: center;
            }
            &--des{
                text-align: justify;
            }
            &--links{
                width: 100%;
                @include flex-b-c;
                justify-content: center;
                gap: 40px;
                .project--link{
                    font-size: 1.1rem;
                    color: $bg-color;
                    background-color: $text-imp;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }
        .project:hover{
            transform: scale(1.04);
            transition: transform 1s;
        }
    }
}
@media (max-width:997px){
    .projects--container{
        .projects{
            justify-content: center;
            .project{
                width: 40%;
            }
        }
    }
}
@media (max-width:778px){
    .projects--container{
        .projects{
            justify-content: center;
            .project{
                width: 80%;
            }
        }
    }
}